protobuf==3.20.0
chromadb==0.4.24
opentelemetry-api==1.21.0
chromadb
opentelemetry-sdk
streamlit
pandas
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-groq
llama-index-vector-stores-chroma
groq
mcp
nest_asyncio
python-dotenv
